In [1]:
import pandas as pd
import numpy as np

In [4]:
che = pd.read_csv("https://stepik.org/media/attachments/course/4852/accountancy.csv")

In [5]:
che.head()

   Unnamed: 0 Executor Type  Salary
0           0     Pupa    D      63
1           1     Pupa    A     158
2           2     Pupa    D     194
3           3     Pupa    E     109
4           4    Loopa    E     184

In [8]:
che.groupby(["Executor", "Type"]).aggregate({"Salary": "mean"})

                   Salary
Executor Type
Loopa    A      58.000000
         B     145.166667
         C     154.333333
         D     137.714286
         E     164.000000
         F     238.000000
Pupa     A     160.833333
         B      77.000000
         C      74.500000
         D     146.500000
         E     131.200000
         F     136.250000