In [1]:
from sklearn import tree
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
train_data = pd.read_csv("https://stepik.org/media/attachments/course/4852/dogs_n_cats.csv")
# sns.set_style("whitegrid")
# sns.set(rc={'figure.figsize': (12, 6)})
%config IPCompleter.greedy=True

In [5]:
train_data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям      Вид
0     15    18.0         1        1                   0  собачка
1     20    24.0         1        0                   0  собачка
2     34    40.8         1        1                   0  собачка
3     26    31.2         1        1                   0  собачка
4     16    19.2         1        1                   0  собачка

In [6]:
X_train = train_data[["Длина", "Высота", "Шерстист", "Гавкает", "Лазает по деревьям"]]
y_train = train_data.Вид

In [8]:
from sklearn.model_selection import cross_val_score
scores_data = pd.DataFrame()
for max_depth in range(1,100):
    clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=max_depth)
    clf.fit(X_train, y_train)
    mean_cross_val_score = cross_val_score(clf, X_train, y_train, cv=5).mean()
    
    temp_score_data = pd.DataFrame({"max_depth": [max_depth], 
                                    "cross_val_score": [mean_cross_val_score]})
    scores_data = scores_data.append(temp_score_data)

In [11]:
scores_data.head()

   max_depth  cross_val_score
0          1              1.0
0          2              1.0
0          3              1.0
0          4              1.0
0          5              1.0

In [12]:
clf = tree.DecisionTreeClassifier(criterion="entropy", max_depth=1)

In [13]:
clf.fit(X_train, y_train)

DecisionTreeClassifier(criterion='entropy', max_depth=1)

In [15]:
data = pd.read_json("D:\\python\\jupyter\\files\\dataset_209691_15.txt")

In [18]:
data.head()

   Длина  Высота  Шерстист  Гавкает  Лазает по деревьям
0     16    19.2         1        1                   0
1     31    37.2         1        1                   0
2     29    34.8         1        1                   0
3     16    19.2         1        1                   0
4     27    32.4         1        1                   0

In [25]:
hh = clf.predict(data)
hh = list(hh)
hh.count("собачка")

48